* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 4rem;
}
label {
  display: block;
}
input {
  margin-bottom: 1rem;
}
.stamps {
  margin-top: 2rem;
}
.timestamp {
  text-transform: capitalize;
}
